<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>DaWebCine</title>
</head>

<body id="page-container">
    <header>
        <a href="/"><h1>DaWebCine</h1></a>
        <!-- <img src="logo-cine.png" alt="*Logo Cine*" height="100" width="100"/> -->
        <div id="buttons">
            <a id="linkLogin" href="./login">Iniciar sesion</a>
            <a id="linkRegistro" href="./registro">Registrarse</a>
        </div>
    </header>
    <nav class="link">
        <ul>
            <li><a href="/#cines">Cines</a></li>
            <li><a href="/#peliculas">Peliculas</a></li>
            <li><a href="./tarjeta">Tarjeta de fidelidad</a></li>
        </ul>
    </nav>
    <div id="paginaPrincipal">
        <div id="content-wrap">
            <div id="contenido_cines">
                <h2 id="cines">CARTELERA CINE 2</h2>
                <div class="row justify-content-center no_margin">
                    <div class="col-8">
                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-2">
                                    <img src="images/parasitos.png" class="card-img-top img-fluid" alt="Imagen pelicula"
                                        height="100px">
                                </div>
                                <div class="col-md-10">
                                    <div class=" row card-body">
                                        <div class="col-md-4">
                                            <h5 class="card-title" style="font-size: medium;"><b>Parásitos</b></h5>
                                            <p class="card-text">Lunes: 19:00 20:00 22:00</p>
                                            <p class="card-text">Martes: 19:00 20:00 22:00</p>
                                            <p class="card-text">Miercoles: 19:00 20:00 22:00</p>
                                            <p class="card-text">Jueves: 19:00 20:00 22:00</p>
                                            <p class="card-text">Viernes: 19:00 20:00 22:00</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p></p>
                                            <br>
                                            <p><b>Descripción</b></p>
                                            <p> Toda la familia de Ki-taek está en el paro y se interesa mucho por el
                                                tren de vida de la riquísima familia Park.
                                                Un día, su hijo logra que le recomienden para dar clases particulares de
                                                inglés en casa de los Park.
                                                Es el comienzo de un engranaje incontrolable, del cual nadie saldrá
                                                realmente indemne.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center no_margin">
                    <div class="col-8">
                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-2">
                                    <img src="images/erase_una_vez_en_hollywood.png" class="card-img-top img-fluid"
                                        alt="Imagen pelicula" height="100px">
                                </div>
                                <div class="col-md-10">
                                    <div class=" row card-body">
                                        <div class="col-md-4">
                                            <h5 class="card-title" style="font-size: medium;"><b>Érase una vez... en Hollywood</b></h5>
                                            <p class="card-text">Lunes: 19:00 20:00 22:00</p>
                                            <p class="card-text">Martes: 19:00 20:00 22:00</p>
                                            <p class="card-text">Miercoles: 19:00 20:00 22:00</p>
                                            <p class="card-text">Jueves: 19:00 20:00 22:00</p>
                                            <p class="card-text">Viernes: 19:00 20:00 22:00</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p></p>
                                            <br>
                                            <p><b>Descripción</b></p>
                                            <p> En la ciudad de Los Ángeles, en 1969, todo está cambiando, y la estrella
                                                de la televisión Rick Dalton y Cliff Booth,
                                                su doble de muchos años, se abren camino en una industria que ya
                                                prácticamente no reconocen.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="link">
        <div>
            <a href="#">Copyright</a>
            <a href="#">Mapa del sitio</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>