@charset "UTF-8";

* {
	/*Permite que el ancho de la caja incluya el relleno y no solo el contenido. Así cuando se utilizan tamaños relativos encajan más facilmente*/
	box-sizing: border-box;
}

body {
	background-color: #E0DCDC;
	border: 0;
	color: #777;
	font-family: Arial, Helv, sans-serif;
	font-size: 12pt;
	/*Inicializar*/
	margin: 0;
	min-height: 100vh; padding : 0;
	position: relative;
	padding: 0;
}

#content-wrap {
	padding-bottom: 4rem; /* Footer height */
}

h1, h2, h3 {
	font-family: "Book Antiqua";
}
/*em es relativo, en este caso a la fuente padre que es la del body*/
h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 0;
	padding: 15px 10px 10px 10px;
	text-align: center;
}

h3 {
	font-size: 1.3em;
}

p strong {
	color: blue;
}

/*Damos estilo a elemento cabecera*/
header {
	position: relative;
	text-align: center;
	background-color: #025587;
	height: 120px;
	width: 100%;
	color: #FFFFFF;
}

header a {
	color: #FFFFFF;
}

header a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

header h1 {
	display: inline-block;
	margin: 0;
	padding: 20px 20px;
	font-size: xxx-large;
}

header #buttons {
	position: absolute;
	right: 20px;
	bottom: 15px;
}

header img {
	margin-left: 50px;
}

#buttons a {
	border: 1px solid #fff;
	color:#fff;
	padding: 10px;
}

#buttons a:hover {
	background-color: #1C2C3E;
}

.link a {
	color: #fff;
	font-weight: 900;
	text-decoration: none;
}

link a:hover {
	color: #fff;
	text-decoration: underline;
}

nav {
	width:100%;
	padding: 15px;
	background-color: #29415D;
}

nav ul {
	margin: 0;
}

nav ul li a:hover {
	background-color: #1C2C3E;
	text-decoration: none;
}
/*Barra de navegación*/
nav ul li {
	display: inline;
}

nav ul li a {
	padding: 15px;
	text-decoration: none;
}

@media all and (max-width: 480px) {

	ul {
		padding-left: 0;
	}

	nav ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		list-style: none;
		
	}
	nav li {
		text-align: center;
		width: 100%;
		padding: 15px;
	}

	nav li a {
		text-align: center;
		width:100%;
		text-decoration: none;
	}

	nav li a:hover {
		width: 100%;
		background-color: #1C2C3E;
		padding: 15px;
	}
}

footer {
	bottom: 0;
	background-color: #29415D;
/* 	height: 3rem; */
	position: absolute;
	width: 100%;
}

footer a {
	padding: 15px;
}

footer a:hover {
	text-decoration: none;
}

footer div {
	padding: 15px;
}

.no_margin {
	margin: 0;
}

.border_right {
	border-radius: 20px;
}

.border_left {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

#linkCerrarSesion {
	display: none;
}

.itemA {
	grid-area: 1 / 1 / 2 / 3;
  }
.itemB {
	grid-area: 2 / 1 / 3 / 3;
}
.itemC {
	grid-area: 3 / 2 / 4 / 3;
}